/* #region Critical CSS */

    /**{ border: 1px solid red !important; }*/

    main {
    width: 100%;
    display: flex;
    }

    body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    font-family: "modernsans";
    font-weight: 100;
    }

    body {
    background-color: #000;
    color: black;
    transition: background-color 2s ease, color 10s ease;
    }

    .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    }

    /*#endregion*/

    /*#region Navbar*/

    .navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background: transparent;
    color: transparent;
    border: none;
    box-shadow: none;
    justify-content: end;
    align-items: center;
    display: flex;
    z-index: 10;
    transition: background-color 1s ease; /* Smooth transition */
    }

    .navbar.scrolled {
    background-color: rgba(0, 0, 0, 1); /* 60% black */
    }

    .nav-items {
    margin-right: 0;
    padding-right: 0;
    }

    .nav-items a, .nav-icon a, nav ul li a {
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: color 0.3s;
    }

    .nav-items a:hover, .nav-icon a:hover, nav ul li a:hover {
    color: #8a8a8a !important;
    }

    .navbar .nav-link {
    font-family: 'primer', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    justify-content: end;
    }

    .icon-link {
    padding-top: 10px;
    color: #ffffff;
    width: 18px;
    height: 18px;
    margin-left: 1vw;
    transition: color 0.3s ease;
    }

    .navbar-nav {
    padding-top: 1%;
    margin-right: 1%;
    align-items: center;
    justify-content: end;
    }

    .navbar .nav-item {
    color: #ffffff;
    display: flex;
    align-items: center;
    }

    .navbar .fa-instagram, .navbar .fa-tiktok {
    width: 18px;
    height: 18px;
    }

    nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    }

    nav ul li {
    display: inline;
    }

    /*#endregion*/

    /*#region Photo Containers*/

    .album-container {
        display: flex;
        position: relative;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically if needed */
        width: 100%;
        height: 100%;
        overflow: visible;
        box-sizing: border-box;
        z-index: 3;
    }

    .photo-container {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .photo-container::after {
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
    width: 100%;
    height: 100%; /* Optional: makes the container take full viewport height */
    }

    .photo {
    position: relative;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%); /* For Safari */
    }

    .photo-container-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        width: 50%;
        height: auto;
    }

    .photo-container-2 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        align-items: end;
    }

    .album {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 10%;
        width: 100%;
        height: auto;
    }

    .photo-individual-1 img, .photo-individual-2 img, .photo-individual-3 img, .photo-individual-4 img {
        display: block;
        width: 100%;
        height: auto; /* Ensures the height adjusts proportionally */
        object-fit: cover;
        overflow: hidden;
    }

    .photo-individual-1 {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 85%;
    display: flex;
    align-items: center;
    }

    .scroll-image-1{
    position: relative;
    width: 100%;
    height: 100%; /* Ensure image scales correctly */
    pointer-events: none;
    margin-bottom: 10%;
    margin-left: 20%;
    z-index: 1;
    }

    .photo-individual-2 {
    position: relative;
    text-align: center;
    width: 90%;
    display: flex;
    align-items: center;
    }

    .scroll-image-2 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%; /* Ensure image scales correctly */
    pointer-events: none;
    z-index: 1;
    }

    .photo-individual-3  {
    position: relative;
    text-align: center;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    }

    .scroll-image-3 {
    position: relative;
    object-fit: cover;
    width: 90%;
    height: 100%; /* Ensure image scales correctly */
    margin-bottom: 10%;
    pointer-events: none;
    z-index: 1;
    }
    
    .photo-individual-4  {
    position: relative;
    text-align: center;
    width: 90%;
    display: flex;
    align-items: center;
    max-height: 100%;
    }

    .scroll-image-4 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%; /* Ensure image scales correctly */
    margin-right: 40%;
    pointer-events: none;
    z-index: 1;
    }


    .gradient-overlay {
        position: absolute;
        width: 70.6%;
        margin-left: 8.8vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0));
        pointer-events: none;
        z-index: 10;
        opacity: 0; /* Initially invisible */
        transition: opacity ease-in-out 0.5s; /* Smooth transition for visibility */
    }

    .photo-1 img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .overlay-text {
        position: absolute;
        top: 60%;
        left: 30%;
        width: 40%;
        text-align: right;
        color: white;
        font-size: 50px;
        font-family: 'opensans', sans-serif;
        font-weight: bold;
        transition: color 2s;
        z-index: 4;
    }

    .color-change {
        transition: color 2s;
    }


    /*#endregion*/

    /*#region Footer*/

    .footer {
    width: 100%;
    height: 25vh;
    position: relative;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    flex-shrink: 0;
    z-index: 5;
    }
    
    .footer .nav-link {
    font-family: 'primer', sans-serif;
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s;
    padding: 10 10px; /* Add uniform spacing */
    justify-content: end;
    }

    .footer .nav-link:hover {
    color: #8a8a8a; /* Light background color on hover */
    }

        /*#endregion*/

    .filler {
        position: relative;
        display: flex;
        width: 100%;
        height: 20%;
        padding-top: 10%;
    }

    .filler-2 {
        position: relative;
        background-color: transparent;
        display: flex;
        width: 100%;
        height: auto;
        padding-top: 10%;
    }


    /* Add other critical styles here */