/*#region Containers*/

.sticky-container {
    position: relative;
    width: 100%;
    background-color: white; /* Optional: for better visibility */
    margin-bottom: 0;
    padding: 0;
  }
  
  .container {
    padding: 0;
    width: 82vw;
    height: 10vh;
    margin: 0 auto;
    justify-content: end;
    background-color: transparent;
  }
  
  .section {
    flex: 1;
    display: flex;
    flex-direction: column; /* If column direction is needed */
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    color: black;
  }
  
  .content-container {
    display: flex;
  }
  
  .form-container {
    justify-content: center;
    align-items: center;
    max-width: 50vh;
    background-color: white;
  }
  
  /*#endregion*/
  
  /*#region Font faces*/
  
  .photo-1 p {
    font-size: 50px;
    font-family: 'opensans', sans-serif;
    top: 10%;
    margin-top: auto;
    text-align: inherit;
    color: inherit;
    padding-bottom: 10vh;
    z-index: 11;
  }
  
  @font-face {
    font-family: 'primer';
    src: url('../fonts/Primer Print.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'primer';
    src: url('../fonts/Primer Print Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'modernsans';
    src: url('../fonts/ModernSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'advent';
    src: url('../fonts/AdventPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'advent';
    src: url('../fonts/AdventPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  /*#endregion*/
  
  /*#region Image Containers*/
  
  .photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .photo-container img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  /*#endregion*/
  
  /*#region Forms, for contact.html*/
  
  .content-form {
    position: relative;
    z-index: 5;
    background: white; /* Adjust colors as needed */
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    width: 50vh;
    margin: 5vh;
  }
  
  .form-group {
    flex: 1;
    max-width: 50vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 1vh;
  }
  
  .form-group textarea {
    resize: vertical; /* Allow both horizontal and vertical resizing */
  }
  
  .form-group.full {
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
    font-family: 'primer', sans-serif;
    font-weight: 300;
  }
  
  .form-group input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #747474;
  }
  
  /*#endregion*/
  
  /*#region Font Classes*/
  
  .title {
    font-size: 40px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  .title:hover {
    color: #8a8a8a;
  }
  
  .display-1 {
    font-family: 'advent', sans-serif;
    font-weight: 200;
    padding-left: 0;
    color: #ffffff;
    background-color: inherit;
  }
  
  .display-2 {
    font-size: 20px;
    font-family: 'advent', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }
  
  .display-3 {
    width: auto;
    height: 10vh;
    font-size: 40px;
    font-family: 'primer', sans-serif;
    font-weight: 200;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .h1 {
    justify-content: center;
    align-items: center;
  }
  
  /*#endregion*/
  
  /*#region Navbar*/
  
  .offcanvas {
    height: inherit;
    background-color: inherit;
    justify-content: end;
  }
  
  .offcanvas-body {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 0;
  }
  
  .offcanvas-body h1 {
    margin: 0;
    flex-shrink: 0;
  }
  
  #background {
    width: 100%;
    background: inherit;
  }
  
  /*#endregion*/
  
  /* #region For the light/dark mode toggle*/
  
  /* Light mode styles */
  body.light-mode {
    background-color: var(--light-bg);
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: var(--dark-bg);
  }
  
  /*#endregion*/
  
  /* #region Form - about.html*/
  
  .flex-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding-top: 10%;
    height: auto;
    justify-content: center;
    gap: 5vw;
  }
  
  
  .flex-item {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'primer', sans-serif;
    font-size: 22px;
    flex: 1;
  }
  
  .flex-item img {
    position: fixed;
    max-width: 40vw;
    height: auto;
    top: 12vh;
  }
  
  .sticky-image-container {
    position: sticky;
  }
  
  /*#endregion*/
  
  /*#region navbar dropdown*/
  
  .dropdown {
    position: relative;
    display: none;
  }
  
  .dropbtn {
    width: 0;
    height: 0;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
    width: 100%;
    text-align: left;
    padding: 16px;
  }
  
  .dropbtn a:hover {
    color: grey;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #575757;
  }
  
  .show {
    display: block; /* Show dropdown */
  }
  
  @media screen and (max-width: 768px) {
    .dropdown {
      display: block; /* Show dropdown container */
    }
  
    .dropbtn {
      display: block; /* Show dropdown button */
    }
  
    .nav-items {
      display: none; /* Hide nav items */
    }
  }
  
  /*#endregion*/
  
  /* #region Icon Customization */
  
  .icon-container {
    align-items: center;
    display: flex;
    gap: 0;
  }
  
  .footer-link.icon-link {
    width: 14px;
    height: 14px;
    color: #ffffff; /* Icon color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 1vw;
  }
  
  /*#endregion*/
  
  /* #region Sticky images */
  
  #parent-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    gap: 0; /* No gaps between columns */
  }
  
  .album-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0.3vw;
    padding-top: 0px;
  }
  
  .sticky-container {
    position: relative;
    width: 100%;
    background-color: white; /* Optional: for better visibility */
    margin-bottom: 0;
    padding: 0;
  }
  .sticky-image {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sticky-container.minimized .sticky-image {
    width: 50px; /* Adjust the minimized size as needed */
    max-width: none; /* Override max-width */
  }
  
  /*#endregion*/
  