/*#region Body, Header, etc*/

main {
    display: flex;
    unicode-bidi: isolate;
}

body, html {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "modernsans";
    font-weight: 100;
}

/*#endregion*/

/*#region Containers*/

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    width: 82vw;
    height: 10vh;
    margin: 0 auto;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.5);
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column; /* If column direction is needed */
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    color: black;
}

.album-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    width: 100vw;
    height: 100%;
}

.form-container {
    max-width: 50vh;
    background-color: white;
    margin-bottom: 20vh;
}

/*#endregion*/

/*#region Font faces*/

@font-face {
    font-family: 'primer';
    src: url('../fonts/Primer Print.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primer';
    src: url('../fonts/Primer Print Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'modernsans';
    src: url('../fonts/ModernSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advent';
    src: url('../fonts/AdventPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'advent';
    src: url('../fonts/AdventPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'advent';
    src: url('../fonts/AdventPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'advent';
    src: url('../fonts/AdventPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*#endregion*/

/*#region Image Containers*/

.photo {
    position: relative;
    width: 100%;
    height: auto;
}

.photo-container {
    width: 100%;
    height: auto; /* Optional: makes the container take full viewport height */
}

#sticky-image {
    max-width: 100%;
    height: auto;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 10px; /* Adjust this value to your preference */
}

/*#endregion*/

/*#region Footer*/

.footer {
    width: 100%;
    height: 20vh;
    position: relative;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

.footer .nav-link{
    font-family: 'primer', sans-serif;
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s;
    padding: 10 10px; /* Add uniform spacing */
    justify-content: end;
}

.footer .nav-link:hover {
    color: #8a8a8a; /* Light background color on hover */
}

/*#endregion*/

/*#region Forms, for contact.html*/

.content-form {
    position: relative;
    z-index: 5;
    background: white; /* Adjust colors as needed */
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    max-width: 50vh;
    margin: 5vh;
}

.form-group {
    max-width: 50vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 1vh;
}

.form-group textarea {
    resize: vertical; /* Allow both horizontal and vertical resizing */
}

.form-group.full {
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'primer', sans-serif;
    font-weight: 300;
    
}

.form-group input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #747474;
}

/*#endregion*/

/*#region Font Classes*/

.title {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.title:hover {
    color: #8a8a8a;
}

.display-1 {
    font-size: 40;
    font-family: 'advent';
    font-weight: 200;
    padding-left: 0;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.display-2 {
    font-size: 20;
    font-family: 'advent';
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.display-3 {
    font-size: 40;
    font-family: 'primer';
    font-weight: 200;
    color: rgb(0, 0, 0);
}

/*#endregion*/

/*#region Navbar*/

.navbar {
    top: 0;
    width: 100vw;
    height: 10vh;
    background: #ffffff;
    color: #000;
    border: none;
    box-shadow: none;
    justify-content: end;
    align-items: center;
}

.nav-items a, .nav-icon a, nav ul li a {
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: color 0.3s;
}

.nav-items a:hover, .nav-icon a:hover, nav ul li a:hover {
    color: #8a8a8a !important;
}

.navbar .nav-link {
    font-family: 'primer', sans-serif;
    font-size: 20px;
    color: #000000;
    padding: 10px;
    justify-content: end;
}

.icon-link {
    padding-top: 10px;
    color: #000000;
    font-size: 1.5rem;
    margin-left: 1vw;
    transition: color 0.3s ease;
}

.navbar-nav {
    padding-top: 1%;
    margin-right: 1%;
    align-items: center;
    justify-content: end;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
}

.navbar .fa-instagram, .navbar .fa-tiktok {
    font-size: 0.9vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

nav ul li {
    display: inline;
}

.offcanvas {
    height: inherit;
    background-color: inherit;
    justify-content: end;
}

.offcanvas-body {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
}

.offcanvas-body h1 {
    margin: 0;
    flex-shrink: 0;
}

#background {
    width: 100%;
    background: inherit;
}

/*#endregion*/

/* #region For the light/dark mode toggle*/

/* Light mode styles */
body.light-mode {
    background-color: var(--light-bg);
}

/* Dark mode styles */
body.dark-mode {
    background-color: var(--dark-bg);
}

/*#endregion*/

/* #region Form - about.html*/

.flex-container{
    display: flex;
    flex-direction: row;
    height: flex;
    width: 80vw;
    align-items: top;
    justify-content: center;
    gap: 5vw;
}

.flex-item {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'primer';
    font-size: 22px;
    flex: 1;
    margin-bottom: 20vh;
}

.flex-item img {
    position: fixed;
    max-width: 40vw;
    height: auto;
    top: 12vh;
}

.sticky-image-container {
    position: sticky;
}

/*#endregion*/

/*#region navbar dropdown*/

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.show {
    display: block; /* Show dropdown */
}

@media screen and (max-width: 600px) {
    .nav-items {
        display: none; /* Hide the nav items */
    }
    .dropdown {
        display: block; /* Show the dropdown button */
    }
}

/*#endregion*/

/* #region Icon Customization */

.icon-container{
    align-items: center;
    display: flex;
    gap: 20vw;
    
}

.icon-link {
    font-size: 1rem; /* Adjust icon size as needed */
    color: #ffffff; /* Icon color */
    text-decoration: none; /* Remove underline from links */
}

.footer .icon-link {
    font-size: 1rem; /* Adjust icon size as needed */
    color: #ffffff; /* Icon color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 1vw;
}

/*#endregion*/

/* #region Sticky images */

#parent-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    gap: 0; /* No gaps between columns */
}

.album-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0.3vw;
    padding-top: 0px;
}

.sticky-container {
    position: relative;
    width: 100%;
    background-color: white; /* Optional: for better visibility */
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
}
.sticky-image {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sticky-container.minimized .sticky-image {
    width: 50px; /* Adjust the minimized size as needed */
    max-width: none; /* Override max-width */
}

/*#endregion*/


/* #region */
/*#endregion*/


/* #region */
/*#endregion*/


/* #region */
/*#endregion*/


/* #region */
/*#endregion*/


/* #region */
/*#endregion*/

